{% extends "base.html" %}
{% block title %}Bienvenido{% endblock %}
{% block content %}
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="text-center">
        <!-- Azure Logo -->
        <img src="https://upload.wikimedia.org/wikipedia/commons/a/a8/Microsoft_Azure_Logo.svg" alt="Azure Logo" class="mb-4" style="width: 200px;">

        <!-- Welcome Message -->
        <h1 class="mb-3">Bienvenido al registro en Cloud </h1>
        <p class="lead">Esta app está desarrollada en Flask y alojada en Azure. Vea a continuación los logs que recibe del procesado de imágenes remoto:</p>

        <!-- Navigation Button -->
        <div class="d-flex justify-content-center my-4">
            <a href="{{ url_for('upload_log') }}" class="btn btn-secondary mx-2">View Upload Log</a>
        </div>
    </div>
</div>
{% endblock %}  